<div class="row">
  <div class="col-md-12">
    <div>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name"></label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            #nameInput
          >
        </div>
        <div class="col-md-2 form-group">
          <label for="price"></label>
          <input
            type="number"
            id="price"
            name="price"
            class="form-control"
            #amountInput
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary mr-3" (click)="onAddItem()">Add</button>
          <button type="button" class="btn btn-danger mr-3">Delete</button>
          <button type="button" class="btn btn-info">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
